$subnav-link-color:			$black !default;
$subnav-background-color:           $lightgray-dark !default;

$subnav-hover-link-color:           $white !default;
$subnav-hover-background-color:    	$mediumgray-light !default;

$subnav-disable-link-color:		$mediumgray-dark !default;
$subnav-disable-background-color:	$lightgray-light !default;
/*
        ========= #webdilna style =========
*/
@include exports("webdilna") {

        /* 
                ========= #back to admin / zpet do administrace =========
        */
        .back-admin {
                position: relative;
                text-align: center;
                background: $sunflower-light;
                padding: 5px 0;
                margin-bottom: 1px;
                z-index: 999;

                &>a {
                        color: $black;
                }
                
                &>a:hover {
                        color: $darkgray-dark;
                }
                
                &:after {
                        top: 100%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-top-color: $sunflower-light;
                        border-width: 10px;
                        left: 50%;
                        margin-left: -10px;
                }
                
                &:hover { background: #ffde00; }
                &:hover:after { border-top-color: #ffde00; }
        }

        .fixed { position: fixed; top: 0; width: 100%; }
        /* admin back logged user */

        /* selected text*/
        ::selection { color: $white; background-color: $darkgray-dark; } /* WebKit/Blink Browsers */
        ::-moz-selection { color: $white; background-color: $darkgray-dark; } /* Gecko Browsers */
        
        /*
                ========= #item lists / boxy pro novinky, portfolio aj. =========
        */
        .page .item-content {
                
                margin-bottom: 30px;
                
                        &>h2 {
                                color: $black;
                                font-size: $font-size-extra;
                                font-weight: bold;
                        }
                        
                        &>p {
                                color: $darkgray-light;
                        }
                }
        
        .subnav {
                
                &>ul {
                        width: 100%;
                        margin: 0px auto;
                        padding: 0;
                        list-style: none;
                        
                        &>li {
                                float: left;
                                display: block;
                                width: 33.333%;
                                margin: 0px;
                                padding: 0px;
                                margin-bottom: 15px;

                                &>a, span.disable {
                                        display: block;
                                        text-align: center;
                                        padding: 5px 0;
                                        text-decoration: none;
                        
                                        color: $subnav-link-color;
                                        background: $subnav-background-color;
                                }
                                
                                &>a:hover {
                                        color: $subnav-hover-link-color;
                                        background-color: $subnav-hover-background-color;
                                }
                                
                                &>span.disable { background: $subnav-disable-background-color; color: $subnav-disable-link-color; }
                        }
                        &>li:nth-child(2) a { margin: 0 1px; }       
                }
        }

        /*
                ========= #gallery / image hover effect =========
        */
        #lightgallery {
                
                &>a { width: 20%; }  /* responsive nastaveni pro galerii */
                &>.img-overlay { float: left; }
                
        }

	  /* === IMAGE EFFECT PAGE PART === */
	  .effect {
                
                &>.img-overlay {
                        position: relative;
                        display: block;
                        
                                &>img {
                                        display: block;
                                        margin: 0;
                                        padding: 0;
                                        max-width: 100%;
                                        height: auto;
                                }
                                
                                &>.overlay {
                                        display: block;
                                        position: absolute;
                                        z-index: 20;
                                        background: rgba(0, 0, 0, 0.8);
                                        overflow: hidden;
                                
                                        -webkit-transition: all 0.2s;
                                        -moz-transition: all 0.2s;
                                        -o-transition: all 0.2s;
                                        transition: all 0.2s;
                                        
                                        top: 0;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                        opacity: 0;
                                        
                                        &>.expand, &>.zoom {
                                                left: 0;
                                                right: 0;
                                                top: 0;
                                                margin: 0 auto;
                                                opacity: 0;
                                
                                                -webkit-transition: all 0.2s;
                                                -moz-transition: all 0.2s;
                                                -o-transition: all 0.2s;
                                                transition: all 0.2s;
                                        }

                                        &>.expand, &>.zoom {
                                                display: block;
                                                position: absolute;
                                                z-index: 100;
                                
                                                -webkit-border-radius: 50%;
                                                -moz-border-radius: 50%;
                                                -ms-border-radius: 50%;
                                                -o-border-radius: 50%;
                                                border-radius: 50%;
                                                text-decoration: none;
                                        }
                                        
                                        &>.expand {
                                
                                                width: 60px;
                                                height: 60px;
                                                border: 2px solid $white;
                                                text-align: center;
                                                color: $white;
                                                line-height: 55px;
                                                font-size: 25px;
                                                
                                                }
                                
                                        &>.zoom {
                                                width: 55px;
                                                height: 55px;
                                                border: 2px solid $white;
                                                text-align: center;
                                                color: $white;
                                                line-height: 52px;
                                                font-size: 25px;
                                                }
                                
                                        &>.expand:hover {
                                                color: $sunflower-light;
                                                border: 2px solid $sunflower-light;
                                
                                                -webkit-transform: rotate(360deg);
                                                -moz-transform: rotate(360deg);
                                                -o-transform: rotate(360deg);
                                                }

                                }
                        }        
                        &>.img-overlay.hover .overlay {
                                opacity: 1;
                                }
                        &>.img-overlay.hover .overlay .expand, &>.img-overlay.hover .overlay .zoom {
                                top: 50%;
                                margin-top: -30px;
                                opacity: 1;
                                }                                

                }

        /* search */
        .highlight { background-color: $sunflower-light; color: $black; }
        .no-search { clear: both; margin-top: 100px; text-align: center; }
        /* 
                ========= #pagination / strankovani =========
        */
        .paging p#total_count { font-size: $font-size-small; }
        
        /*
                ========= #main nav redesign =========
        */
        .zigzag {
                position: relative;
                height: 20px;
                z-index: 60;
                } 
        
        .zigzag:before {
                background: linear-gradient(-135deg, #fff 10px, transparent 0), linear-gradient(135deg, #fff 10px, transparent 0);
                background-position: left top;
                background-repeat: repeat-x;
                background-size: 20px 20px;
                content: " ";
                display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 20px;
        }        
        
        
        /*
                ========= #page styles =========
        */
        .page {
                color: $darkgray-light;

                img { max-width: 100%; } /* obrazky vlozene do obsahu */
                article img { width: 100%; } /* ie firefox hack */
                .tab { display: inline-block; width: 120px; } /* parametry odsazuje */

        }

        .strap {
                margin-top: -20px;
                background: url(/_design/content/subheader.jpg) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                padding: 100px 0;
                min-height: 250px;
        }

        .news-strap {
                margin-top: -20px;
                background: url(/_design/content/subheader.jpg) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                padding: 100px 0;
                min-height: 450px;
        }
        
        hr {
                margin: 10px 0;
                border: none;
                background-image: url(/_design/content/hr.png);
                height: 20px;
        }
        
        h1, .lead { color: $black; }
        h3.title { color: $sunflower-dark; font-weight: bold; text-align: center; }
        
        footer .peaks {
                margin-top: -115px;
                max-width: 100%;
                
                }
        
        /* contact form validation */
        form {
                .help-block { font-size: $font-size-small; }
                
                .error {
                        border-color: $bittersweet-dark;
                }

                label.error {
                        z-index: 1000;
                        background-color: $bittersweet-dark;
                        color: $white;
                        font-size: 11px;
                        font-weight: bold;
                        padding: 0px 10px;

                        -webkit-border-radius: $border-radius; 
                        -moz-border-radius: $border-radius; 
                        border-radius: $border-radius; 

                }
                
                .checkbox label.error { position: absolute; left: -100px; max-width: none; }
        }        
        
        
        /*
                ========= #news styles =========
        */
        /* tags */
        .tag-cloud {
                text-align: center;
                margin: 20px 0;
                padding: 15px;
                border: 1px dashed $lightgray-dark;
                
                        
                        &>a { padding: 0px 5px; font-size: 85%; }

                }

        
        .news-info {
                font-size: $font-size-small;
                color: $darkgray-light;
                margin: 10px 0;
                padding: 10px 5px;
                
                &>.tag {
                        padding: 0 5px;
                        
                        &>i { padding: 0 2px; }
                
                }
                
        }

        /*
                ========= #portfolio styles =========
        */
        
        
        
        
        
        /*
                ========= #home page webdilna =========
        */
        .box { text-align: center; }
        
        .box [class^="fa-"], .box [class*=" fa-"] {
                font-size: 35px;
                line-height: 68px;
                margin: 10px 0;
              
                display: inline-block;
                width: 70px;
                height: 70px;
                text-align: center;
                }
        
        .box [class^="fa-"], .box [class*=" fa-"] {
                border-radius: 50%;
                position: relative;
                z-index: 1;
                }
        
        .box [class^="fa-"]:after, .box [class*=" fa-"]:after {
                pointer-events: none;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                content: '';
                -webkit-box-sizing: content-box; 
                -moz-box-sizing: content-box; 
                box-sizing: content-box;
                }
        
        .box [class^="fa-"]:before, .box [class*=" fa-"]:before {
                text-transform: none;
                display: block;
                -webkit-font-smoothing: antialiased;
                }
        
        
        /* Effect 9 */
        .box [class^="fa-"], .box [class*=" fa-"] {
                -webkit-transition: box-shadow 0.2s;
                -moz-transition: box-shadow 0.2s;
                transition: box-shadow 0.2s;
                }
        
        .box [class^="fa-"]:after, .box [class*=" fa-"]:after {
                top: 0;
                left: 0;
                padding: 0;
                box-shadow: 0 0 0 1px $aqua-light;
                -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
                -moz-transition: -moz-transform 0.2s, opacity 0.2s;
                transition: transform 0.2s, opacity 0.2s;
                }
        
        /* Effect 9b */
        .box [class^="fa-"]:hover:after, .box [class*=" fa-"]:hover:after {
                -webkit-transform: scale(0.85);
                -moz-transform: scale(0.85);
                -ms-transform: scale(0.85);
                transform: scale(0.85);
                
                box-shadow: 0 0 0 1px $lightgray-dark;
                }
        
        .box [class^="fa-"]:hover, .box [class*="fa-"]:hover {
                box-shadow: 0 0 0 10px rgba(204,204,204,0.4);
                }

        /*
                ========= Slider Default Theme =========
        */
        .swiper-container {
                margin-top: -20px;
                width: 100%;
                height: 90vh;
                
                & .parallax-bg {
                        left: 0;
                        top: 0;
                        width: 130%;
                        height: 100%;
                        -webkit-background-size: cover;
                        background-size: cover;
                        background-position: center;
                        }

                & .swiper-caption {
                        margin-left: auto;
                        margin-right: auto;
                        position: relative;
                        top: 45%; left: 0; bottom: 0; right: 0;
                        text-align: center;
                        color: $white;
                        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
                        
                        & .title {
                                font-size: 50px;
                                margin-bottom: 20px;
                                font-weight: bolder;
                                }
                                
                        & .subtitle {
                                font-size: 24px;
                                margin-bottom: 15px;
                                font-weight: 300;
                                }
                        
                        }               
               
                        & .btn-default {
                                padding: 8px 20px;
                                font-weight: bold;
                                color: $white;
                                border-color: $white !important;
                                background-color: transparent;
                                }
                        
                        & .swiper-slide .btn-default:hover, 
                        & .swiper-slide .btn-default:focus, 
                        & .swiper-slide .btn-default:active, 
                        & .swiper-slide .btn-default.active {
                                color: $black;
                                background-color: $white;
                                }
               
                }
        
        
        /*
                ========= #media queries limits =========
        */
        
        /*==========  Non-Mobile First Method  ==========*/
        /* Large Devices, Wide Screens */
        @media only screen and (max-width : 1200px) {
        
                #lightgallery {
                        
                        &>a { width: 20%; }
                }
        
        }
        
        /* Medium Devices, Desktops */
        @media only screen and (max-width : 992px) {
        
                #lightgallery {
                        
                        &>a { width: 33.33333%; }
                }
                
        }
        
        /* Small Devices, Tablets */
        @media only screen and (max-width : 768px) {
        
                #lightgallery {
                        
                        &>a { width: 33%; }
                }
        
        }
        
        /* Extra Small Devices, Phones */ 
        @media only screen and (max-width : 480px) {
        
                #lightgallery {
                        
                        &>a { width: 50%; }
                }

        }

}